* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Quicksand', sans-serif;
}

html {
  font-size: 62.5%; /* 10px */
}

html * {
  font-family: 'Quicksand', sans-serif;
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}

body {
  /* font-family: 'Quicksand', sans-serif; */
  background-color: #fff;
  font-size: 1rem;
  margin: 0px;
  width: 100%;
}

#header__section {
  width: 100%;
  padding: 3rem 8%;
  background-color: rgb(59, 108, 214);
  font-size: 1.6rem;
  height: 90px;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.logo a {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 1rem;
}

.nav__menu {
  display: none;

}

.mobile__menu {
  display: none;
  position: absolute;
  top: 80px;
  right: 0;
  height: 100dvh;
  background-color: rgb(59, 108, 214);
  opacity: .7;
  padding: 1rem;

}

.menu-m {
  list-style-type: none;
  margin: 5rem 0;

}

.menu-m a {
  color: white;

}

.menu {
  list-style-type: none;
  color: white;
  display: inline;
}

.menu a {
  color: white;
}


.hamburger {
  display: block;
  font-size: 3.5rem;
  color: white;
  margin-top: -1.5rem;
}





#about,
#works,
#projects {
  padding: 3rem 8%;
  /* margin: 2rem 0; */
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap-reverse;
  width: 100%;
  margin-top: 2rem;
}

.profile__info {
  width: 100%;
  text-align: center;
}

#hello {
  font-size: large;
  color: rgba(236, 0, 140, 1)
}

.name {
  color: rgb(59, 108, 214);
  font-size: 3rem;
  font-weight: bolder;
  margin-top: 1.5rem;
  font-family: 'Titillium Web', sans-serif;

}

.role {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  margin-bottom: 2.5rem;
  font-family: 'Advent Pro', sans-serif;

}

.profile__text {
  font-size: 1.6rem;
  text-align: justify;
  font-weight: medium;
  line-height: 2.2rem;

}

.profile__cta {
  font-size: 1.8rem;
  font-style: italic;
  border: none;
  padding: .7rem 3rem;
  border-radius: 25px;
  margin: 3.5rem 0;
  background-color: rgb(59, 108, 214);
  color: #fff;

}

.profile__cta:hover {
  background-color: #007bb5;
  transform: scale(1.1);
}

.profile__image {
  max-width: 100%;
  /* max-width: 46%; */
  /* flex-basis: 2; */
}

/* Apply the css to the div of the image and use % instead of px */
.profile-pix {
  width: 100%;
  display: block;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}


.works__title {
  text-align: center;
  text-decoration: underline;
  font-size: 2.5rem;
  color: rgba(236, 0, 140, 1);
  margin-bottom: 1rem;
}

.works__services {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.services {
  background-color: rgb(150, 180, 245);
  border-radius: 5px;
  color: #333;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  max-width: 100%;
}

.services__title {
  font-size: 2rem;
  color: white;
  text-shadow: 1px 1px 1px black;
  margin: 1.5rem 0;
}

.services__text {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
}


.skills {
  padding: 25px 8%;
  margin: 4rem 0;
  background: #333;
  width: 100%;
  color: #fff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  text-transform: uppercase;
}

.progress__bar__title {
  text-align: center;
  font-size: 2rem;
  color: white;
  text-shadow: 1px 1px 1px black;
  margin: 3rem 0;
}

.skill {
  margin: 3rem auto;
  width: 80%;
}

.skill li {
  list-style: none;
  height: 8rem;
}

.skill__bar {
  background: #353b48;
  display: block;
  height: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12) 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.skill__bar:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.skill__bar span {
  height: 2rem;
  float: left;
  background: linear-gradient(135deg,
      rgba(236, 0, 140, 1) 0%,
      rgba(252, 103, 103, 1) 100%);
}

.html {
  width: 90%;
  animation: html 3s;
}

.css {
  width: 70%;
  animation: css 3s;
}

.js {
  width: 55%;
  animation: JavaScript 3s;
}

.react {
  width: 40%;
  animation: react 3s;
}

@keyframes html {
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@keyframes css {
  0% {
    width: 0%;
  }

  100% {
    width: 70%;
  }
}

@keyframes JavaScript {
  0% {
    width: 0%;
  }

  100% {
    width: 50%;
  }
}

@keyframes react {
  0% {
    width: 0%;
  }

  100% {
    width: 40%;
  }
}

.projects__title {
  text-align: center;
  text-decoration: underline;
  margin: 1rem 0;
  font-weight: bolder;
  font-size: 3rem;
  color: rgba(236, 0, 140, 1);
}

.project__wrapper {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 5rem;
}

.project {
  padding: .5rem;
  border-radius: 5px;
}

.project:hover {
  transform: scale(1.1);
}

footer {
  background-color: rgb(59, 108, 214);
  width: 100%;
  padding: 3rem 8%;
  margin-top: 6rem;
}

.contacts {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 2rem;
  flex-wrap: wrap;
}

.contacts__details {
  width: 100%;
  color: white;
}

.contacts__details__title {
  font-size: 1.8rem;
  text-shadow: 1px 1px 1px black;
  font-weight: bold;
  margin-bottom: 1rem;
}

.socials-icons {
  margin-top: 2rem;
}

.contacts__info__text p {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}


.contacts__form {
  width: 100%;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  margin: 1.5rem 0;
  padding: 1rem;
}


input,
textarea {
  padding: 1rem 1rem;
  margin: .5rem;
  border-radius: 5px;
  border-color: grey;
  width: 100%;
  border: 0;
  border-bottom: 1px solid#b4becb;
}

#subject {
  width: 477px;
  border-radius: 5px;
  border-color: grey;
}



.contact__form__btn {
  cursor: pointer;
  padding: 1rem 2.5rem;
  margin: 1rem 0;
  background-color: rgb(59, 108, 214);
  color: #fff;
  border-radius: 5px;
  border: none;
}

.contact__form__btn:hover {
  background-color: rgba(236, 0, 140, 1);
  color: #fff;
  transform: scale(1.1);
}

.fa-facebook {
  background-color: #3b5998;
  color: white;
}

.fa-twitter {
  background-color: #3b5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-github {
  background-color: black;
  color: #fff;
}

.socials-icons {
  margin-left: 10px;
  display: flex;
  gap: 1.4rem;
}

.fa {
  padding: 5px;
  height: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 0.2px 1px;
  font-size: 20px;
  width: 20px;
}


.copyright {
  background-color: #1b346b;
  padding: 3rem 0 2rem 0;
  font-size: 1.5rem;
  color: white;
  text-align: center;
}




@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }

  * {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

@media only screen and (min-width: 768px) {

  .nav__menu {
    display: flex;
    gap: 2rem;
  }

  .mobile__menu {
    display: none;

  }

  .cv {
    border: 1px solid white;
    padding: .7rem 2rem;
    border-radius: 50px;
  }

  .cv:hover {
    background-color: white;
    color: rgb(59, 108, 214);
  }

  .menu a:hover {
    text-decoration: underline;
  }

  .hamburger {
    display: none;
  }


  .profile {
    justify-content: space-between;
    margin: 4rem 0;
    gap: 1rem;

    /* flex-wrap: wrap-reverse; */

  }

  .profile__info {
    max-width: 55%;
    text-align: left;
  }

  .name {
    margin-top: -1rem;
    font-size: 8rem;
    font-weight: 700;
    font-family: 'Titillium Web', sans-serif;
  }

  .role {
    font-size: 2rem;
    margin-bottom: 1rem;
    /* margin-bottom: 2.5rem; */
  }

  .profile__text {
    max-width: 80%;
    font-size: 1.8rem;
    text-align: justify;
    font-weight: medium;
    line-height: 2.2rem;

  }

  .profile__image {
    max-width: 35%;


  }

  .profile-pix {
    width: 300px;
    height: 300px;

  }

  .works__services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .services {
    background-color: rgb(150, 180, 245);
    color: #333;
    text-align: center;
    box-shadow: 5em;
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    min-height: 15rem;
    max-width: 30%;
  }

  .contacts {
    justify-content: space-between;
    gap: 1rem;
  }

  .contacts__details {
    width: 35%;
  }

  .contacts__form {
    width: 55%;
  }

}