*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html {
  font-size: 62.5%;
  /*overflow-x: hidden;*/
}

body {
  background-color: #fff;
  font-size: 1rem;
  }

.hamburger {
  display: none;
  color: white;
}
nav {
  background-color: rgb(59, 108, 214);
  display: flex;
  position: fixed;
  width: 100%;
  top: 0%;
  /* height: 10%; */
  /* top: 0px; */
  justify-content: space-evenly;
  align-items: center;
  /* left: 0px; */
  padding: 10px 20px;
  margin-bottom: 10rem;
}

nav > ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; 
  /* height: 100%; */
  padding-inline-start: 0px;
  margin-block: 0px;
  /*setting the margin at the beginning of the menu item*/
}

a {
  text-decoration: none;
  color: #ffffff;
}

nav > a:last-child:hover {
  color: #ffffff;
}

#btn-outline {
  background-color: transparent;
  border: 1px solid #fff;
}

nav > ul > li {
  list-style-type: none;
  margin: 5px;
  padding: 5px 20px;
  text-decoration: none;
  overflow: none;
  /* Enable scrolling if the sidenav has too much content*/
  font-size: small;
  font-weight: bold;
  align-items: center;
}

/*li a:hover{
background-color: Black;
color: #ffffff;

margin-top: 5px;
padding: 10px 20px;
  }*/
.nav-bar a:hover {
  border-bottom: 2px #fff solid;
}

li a:active {
  background-color: grey;
  color: black;
  border-radius: 5px;
  margin-top: 25px;
}
.nav-logo{
  font-style: italic;
  font-size: 3rem;
}
.home-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10rem;
  margin-bottom: 1rem;
  width: 90%;
  padding: 0.1rem;
}
.home-text {
  max-width: 50%;
}
.home-item {
  margin-top: 10rem;
}
.home-image {
  margin: 0 auto;
  }

  /* Apply the css to the div of the image and use % instead of px */
#profile-pix {
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.what-i-do {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
  margin: 1rem auto;
  box-shadow: rgba(202, 144, 144, 0.6);
  /*border: 1px solid red;*/
  width: 90%;
}

.what-item {
  background-color:rgb(150, 180, 245);
  color: #333;
  text-align: center;
  box-shadow: 5em;
  padding: 1rem 1rem;
  margin: 1rem 1rem;
  height: 15rem;
  width: 30%;
}
.what-paragraph {
  font-size: 1.5rem;
}
.what-heading {
  font-size: 2rem;
}

#welcome-section {
  height: 100vh;
}

.about {
  font-style: italic;
  font-size: medium;
  font-family: monserrat;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

p {
  color: black(214, 59, 188);
  font-family: Arial, sans-serif;
}

.btn {
  background-color: rgb(59, 108, 214);
  padding: 1.5rem 5rem;
  border: none;
  border-radius: 3rem;
  color: #fff;
  font-weight: bold;
  margin: 1.5rem;
}

.work-button:hover {
  background-color: black;
  color: White;
}

.heading2 {
  font-family: montserrat;
  font-weight: bolder;
  font-style: normal;
  color: rgb(59, 108, 214);
  display: flex;
  font-size: 3.5rem;
  margin: 1rem;
}

.section-head {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bolder;
  font-size: 3rem;
  color: rgb(59, 108, 214);
  
}
.project-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 1rem;
  margin-top: 5rem;
}


/*#project-section {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bolder;
}*/
/* We will continue from here tomorrow  */
footer {
  background-color: rgb(59, 108, 214);
  display: flex;
  width: 100%;
  left: 0;
  margin-bottom: 5em;
}

label {
  padding: 10px;
  color: White;
  font-size: 1.6rem;
  align-items: center;
  margin-bottom: 15px;
}

.contact-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.contact-item {
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  width: 80rem;
}

.card {
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
  align-items: center;
  height: 100%;
}

input,
textarea {
  padding: 30px 30px;
  margin: 10px;
  border-radius: 5px;
  border-color: grey;
  width: 200px;
}

#subject {
  width: 477px;
  border-radius: 5px;
  border-color: grey;
}

textarea {
  border: none;
}

#message {
  width: 539px;
  margin-left: 5px;
}

.contact-button {
  padding: 15px 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(59, 108, 214);
  color: white;
  border-radius: 4px;
  border: none;
}

.fa-facebook {
  background-color: #3b5998;
  color: white;
}


.fa-twitter {
  background-color: #3b5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-github {
  background-color: black;
  color: #fff;
}

.socials-icons {
  margin-left: 10px;
}

.fa {
  padding: 5px;
  height: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 0.2px 1px;
  font-size: 20px;
  width: 20px;
}

.tools-section {
  margin-left: 100px;
}

/*form styling*/
.contact-item input[type="text"],
.contact-item input[type="email"],
textarea {
  border: 0;
  border-bottom: 1px solid#b4becb;
  width: 100%;
  padding: 3px;
}

.contact-item input:focus {
  outline: none;
}

.contact-item {
  position: relative;
  top: 6rem;
  height: 25rem;
  width: 40rem;
  padding: 4rem;
  z-index: 50;
}

.handles-item {
  color: black;
  text-align: center;
  margin-top: 7rem;
  font-weight: bold;
  font-size: 1.6rem;
}

/* #skills*/
--------------------------------------------------------------*/
  .progress-bar-h1 {
  text-align: center;
}

h3 {
  margin: 10px;
}

.skill {
  background: #333;
  width: 500px;
  margin: 60px auto;
  color: #fff;
  padding: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  text-transform: uppercase;
}
.skill li {
  margin: 20px 0;
  padding: 10px;
  list-style: none;
}

.bar {
  background: #353b48;
  display: block;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12) 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.bar:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bar span {
  height: 20px;
  float: left;
  background: linear-gradient(
    135deg,
    rgba(236, 0, 140, 1) 0%,
    rgba(252, 103, 103, 1) 100%
  );
}

.html {
  width: 90%;
  animation: html 3s;
}

.css {
  width: 70%;
  animation: css 3s;
}

.js {
  width: 55%;
  animation: JavaScript 3s;
}

.react {
  width: 40%;
  animation: react 3s;
}

@keyframes html {
  0% {
    width: 0%;
  }

  100%{  
    width: 90%;
  }
}
@keyframes css {
  0% {
    width: 0%;
  }

  100% {
    width: 70%;
  }
}

@keyframes JavaScript {
  0% {
    width: 0%;
  }

  100% {
    width: 50%;
  }
}

@keyframes react {
  0% {
    width: 0%;
  }

  100% {
    width: 40%;
  }
}


/*media queries*/

/* */


@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }


* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*for tablets*/
@media only screen and (max-width: 768px) {
  body{
    background: yellow;
    overflow-x: hidden;
    position-x: fixed;
  }
  .home-div{
    flex-direction:column;
    flex-wrap: wrap;
    margin-bottom: 0.5%;
    gap: 10%;
  }
  .home-image{
    width: 100%;
    align-items: center;
    margin-top: 0.5%;
    
  }
  .home-text{
    width:100%;
    text-align:center;
    margin: 0.5% auto; 
  }
  .what-i-do {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 5%;
   
        }
   .what-item {
    width: 100%;
    margin: 1.0% auto;
    align-items: center;
              
        }
        .skill{
          width: 100%;
        }
        .project-section {
          flex-direction: column;
          justify-content: space-evenly;
          margin-top: 1rem;
          margin-top: 5rem;
        }
        .project-1{
          width: 100%;
          margin-top:2%;
        }
        .project-image{
          width: 100%;
        }
        .contact-section{
          flex-wrap: wrap;
          flex-direction: column;
          width: 100%;
          
        }
        .contact-item{
          width: 100%;
                  }
                  label{
                    text-align: center;
                  }
                  form{
                    margin: 1% auto;
                    width: 100%;
                  }
                  .handles-item {
                    color: black;
                    text-align: center;
                    margin-top: 7rem auto;
                    font-weight: bold;
                    font-size: 1.6rem;
                                      }
                                      .card {
                                        width: 100%;
                                        margin: 5rem auto;
                                      }
                                      .nav-menu {
                                        display: block;
                                        margin-bottom: 10px;
                                        background-color: #333;
                                        }
                                        nav{
                                          flex: 1;
                                          text-align: right;
                                        }
                                        nav ul{
                                          width: 100%;
                                          height: 350%;
                                          background:#333;
                                          position: absolute;
                                          top: 50px;
                                          right: 0;
                                          z-index: 2;
                                        }
}

  